<nav class="navbar navbar-expand-lg navbar-dark navbar-custom">
  <div class="container">
    <a class="navbar-brand" href="/">inschurance</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mainNav"
      aria-controls="mainNav" aria-expanded="false" aria-label="Navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="mainNav">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="/#leistungen">Leistungen</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/#prozess">Prozess</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/#kontakt">Kontakt</a>
        </li>
        <li class="nav-item">
          <a class="btn btn-warning text-dark ms-lg-3" href="/#leadform">Anfrage</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
