<section class="section about">
    {% load static %}
    <h2>Почему выбирают нас?</h2>
    <div class="container">


        <div class="card">
            <div class="card-inner">
                <div class="card-front">
                    <img alt="Надежность" src="{% static 'images/computer_14934272.png' %}">
                    <h3>Надежность</h3>
                    <p>Краткое описание</p>
                </div>
                <div class="card-back">


                    <p>Работаем только с проверенными страховыми компаниями и решениями.</p>
                </div>
            </div>
        </div>


        <div class="card">
            <div class="card-inner">
                <div class="card-front">
                    <img alt="Надежность" src="{% static 'images/computer_14934272.png' %}">
                    <h3>Надежность</h3>
                    <p>Краткое описание</p>
                </div>
                <div class="card-back">


                    <p>Работаем только с проверенными страховыми компаниями и решениями.</p>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-inner">
                <div class="card-front">
                    <img alt="Быстро" src="{% static 'images/people_13838183.png' %}">
                    <h3>Надежность</h3>
                    <h3>Быстро и удобно</h3>
                </div>
                <div class="card-back">

                    <p>Подбор, сравнение и заявка — в одном месте, без лишней бюрократии.</p>
                </div>
            </div>
        </div>


    </div>
    <!-- Categories Preview -->
    <section class="section categories" id="section1">
        <h3>Основные категории</h3>
        <div class="container">
            {% for category in categories %}
            <div class="card">
                <div class="card-inner">

                    <div class="card-front">
                        {% if category.image %}
                        <img alt="{{ category.name }}" src="{{ category.image.url }}">
                        {% else %}
                        <img alt="Нет изображения" src="{% static 'images/placeholder.jpg' %}">
                        {% endif %}
                        <h4>{{ category.name }}</h4>
                    </div>

                    <div class="card-back">
                        <h3>Подкатегории:</h3>
                        <ul class="subcategory-list">
                            {% for sub in category.subcategories.all %}
                            <li><a href="{% url 'subcategory_detail' sub.id %}">{{ sub.name }}</a></li>
                            {% empty %}
                            <li class="empty">Нет подкатегорий</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
            {% endfor %}

        </div>
    </section>


</section>