{% load static %}
<div class="container-info">
    <div class="container-info-block">
        <div class="container-info-block-row">
            <img alt="#" src="{% static 'images/ADC59DA4-0F83-4B58-BF04-59F113459FE0_1_102_o.jpeg' %}" loading="lazy">
            <p>
                Seit über vier Jahren bin ich als Versicherungsberater tätig und habe dabei mehr als 200 Unternehmen
                erfolgreich betreut. Mit meiner Spezialisierung auf die Absicherung von Selbständigen und Firmen habe
                ich mir ein tiefes Verständnis für die Herausforderungen erarbeitet, die Unternehmer täglich bewältigen
                müssen. Was mich von anderen unterscheidet, ist meine transparente, lösungsorientierte Beratung, bei der
                das Vertrauen meiner Kunden an erster Stelle steht. Ich setze auf eine nachhaltige Absicherung, die
                sowohl ihre aktuellen Bedürfnisse abdeckt als auch langfristige Sicherheit und Wachstum ermöglicht.
                Mit meiner Erfahrung in der Gewerbeabsicherung und meiner Expertise in der Beratung von Freiberuflern,
                Existenzgründern und privaten Absicherungen für Unternehmer, habe ich bereits viele Unternehmen vor
                Risiken geschützt. Besonders stolz bin ich auf die individuelle Betreuung, die ich meinen Kunden biete –
                von der detaillierten Risikoanalyse bis hin zur maßgeschneiderten Lösung. Dabei stehen Seriosität,
                Ehrlichkeit und Verbindlichkeit in meiner Arbeit stets im Vordergrund.
            </p>
        </div>

        <div class="container-info-block_text">
            <h3>
                Meine Schwerpunkte sind:
            </h3>
            <div class="container-info-block_text_row">
                <ul>
                    <li>Gewerbeabsicherung (Inhaltsversicherung, Betriebshaftpflichtversicherung,
                        Ertragsausfallversicherung, Firmen-Rechtsschutz)
                    </li>
                    <li>Freiberufler-Versicherungen (Berufshaftpflichtversicherung, D&O-Versicherung,
                        Vermögensschaden-Haftpflicht)
                    </li>
                    <li>Existenzgründer-Versicherungen (Betriebliche Absicherungen wie Betriebshaftpflicht,
                        Cyberversicherung, Vermögensschaden-Haftpflicht)
                    </li>
                    <li>Private Absicherung von Unternehmern (Private Krankenversicherung, Berufsunfähigkeitsversicherung,
                        Private Rentenversicherung)
                    </li>
                    <li>Nachhaltige Lösungen, die nicht nur vor Risiken schützen, sondern auch Werte sichern und das
                        Vertrauen der Mitarbeiter stärken.
                    </li>
                </ul>


            </div>

            <p>Ich arbeite besonders eng mit Unternehmern aus den Bereichen Gastronomie, Kosmetik, Architektur,
                Ingenieurwesen und Gesundheitswesen zusammen und biete Lösungen, die genau auf die speziellen
                Anforderungen dieser Branchen abgestimmt sind.
                Ich freue mich, auch Sie auf Ihrem Weg zu einer nachhaltigen und sicheren Zukunft zu begleiten.

                Lassen Sie uns gemeinsam Ihre Risiken minimieren und Ihre Ziele sicher erreichen.
            </p>


            <img alt="#" src="{% static 'images/Outlook-2tpz2j25.png' %}" loading="lazy">

        </div>
    </div>
</div>