{% extends "base.html" %}




{% load static %}
{% load cloudinary_filters %}



{% block content %}

<section class="section about">

        <h2>Hauptkategorien</h2>
        <div class="container">
            {% for sub in subcategories %}
            <div class="card" id="{{ forloop.counter0 }}">
                <div class="card-inner">
                    <div class="card-front">
                      {% if sub.image %}
                        <img alt="{{ sub.name }}" src="{{ sub.image.url|optimize_cloudinary }}">
                        {% else %}
                        <img alt="Kein Bild vorhanden" src="{% static 'images/placeholder.jpg' %}">
                        {% endif %}
                        <h4>{{ sub.name }}</h4>
                    </div>
                    <div class="card-back">
                        <h1>{{ sub.name }}</h1>
                        <p>{{ sub.description|truncatewords:15 }}</p>


                        <a href="{% url 'subcategory_detail' main_category.slug sub.slug %}" class="black-button">Noch Info</a>

                        <a href="{% url 'lead_create' main_category.slug sub.slug %}" class="black-button" style="width: 80%; font-size: 1.3rem;">Beratung anfordern</a>

                    </div>
                </div>
            </div>
            {% endfor %}
        </div>

</section>

{% endblock %}