{% load static %}

<div class="parallax-container">
    <div class="overlay">
        <div class="form-wrapper" id="section2">
            <h2 class="label">Versicherungsvergleich</h2>
            <form id="lead-form">
                <!-- Schritt 1 -->
                <div class="form-step active" id="step-1">

                    <select class="input" id="main_category" required>
                        {% if main_categories %}
                        <option disabled selected value="">Kategorie wählen</option>
                        {% else %}
                        <option disabled selected>Keine verfügbaren Kategorien</option>
                        {% endif %}
                        {% for main in main_categories %}
                        <option value="{{ main.id }}">{{ main.name }}</option>
                        {% endfor %}
                    </select>
                    <button class="submit-btn next-btn" type="button">Weiter</button>
                </div>

                <!-- Schritt 2 -->
                <div class="form-step" id="step-2">

                    <select class="input" id="subcategory" required>
                        <option value="">Bitte zuerst eine Kategorie wählen</option>
                    </select>
                    <button class="submit-btn next-btn" type="button">Weiter</button>
                </div>

                <!-- Schritt 3 -->
                <div class="form-step" id="step-3">
                    {% csrf_token %}
                    <label for="name">Ihr Name:</label>
                    <input class="input" id="name" required type="text">
                    <label for="email">E-Mail:</label>
                    <input class="input" id="email" required type="email">
                    <label for="phone">Telefon:</label>
                    <input class="input" id="phone" required type="tel">
                    <button class="submit-btn" type="submit">Absenden</button>
                </div>

                <div class="message" id="response-message"></div>
            </form>
        </div>
    </div>
</div>

<script src="{% static 'js/script.js' %}"></script>




