{% extends "base.html" %}
{% load static %}

{% block content %}

<section class="highlight-block">

    <div class="highlight-container">
        <div class="highlight-image parallax-bg">
            <img class="highlight-image" src="{{ subcategory.image.url }}" alt="Some image description" loading="lazy">



        </div>
        <div class="highlight-text" id="1">
            {% if message %}
            <p> Spasibo za vashu zayavku mi s vami svyajemsya v korotkie sroki! </p>
            {% endif %}
            <h2>{{ subcategory.name }}</h2>
            <p>
                {{subcategory.description}}
            </p>
            <a href="#section2" class="cta-btn">Отправить заявку</a>
        </div>
    </div>
    {% include "insurance/insurance_dynamic_form.html" %}
</section>
{% endblock %}