:root {
  /* Цвета */
  --color-bg: #000000;         /* Чёрный фон */
  --color-text: #f7f700;       /* Ярко-жёлтый текст */
  --color-accent: #ffdd00;     /* Мягкий жёлтый акцент */
  --color-muted: #999900;      /* Приглушённый жёлтый */
  --color-border: #ffcc00;
  --primary-color: #00aaff;/* Тёмно-жёлтая рамка */

  /* Шрифт */
  --font-family: 'Poppins', 'Segoe UI', sans-serif;

  /* Размеры шрифта */
  --font-size-xs: 0.75rem;     /* 12px */
  --font-size-sm: 0.875rem;    /* 14px */
  --font-size-md: 1rem;        /* 16px */
  --font-size-lg: 1.25rem;     /* 20px */
  --font-size-xl: 1.5rem;      /* 24px */
  --font-size-xxl: 2rem;       /* 32px */
}



html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
}
/* {
    box-sizing: border-box;
    outline: 1px solid red;
}*/
body {
    font-family: var(--font-family);
    height: 100%;
    background: url('../images/andrew-kliatskyi-ZV79vhL6ppk-unsplash.jpg') no-repeat center center fixed;
    background-size: cover;
}

main {
    margin-bottom: 20px;
    display: flex;
    flex: 1 0 auto;
    flex-direction: column;
    gap: 10rem;
}

footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-shrink: 0;
    text-decoration: none;
    flex-shrink: 0;
}
   .footer a {
      text-decoration: none;
      background: none;
    }

.navbar{
    background-color: var(--color-bg);
    position: sticky; /* Используем sticky вместо fixed */
    top: 0; /* Закрепляем в верхней части экрана */
    left: 0;
    width: 100%; /* Занимаем всю ширину экрана */
    z-index: 1000; /* Высокий приоритет для верхнего слоя */
    box-shadow: 0.5px 0.5px 15px grey;
    display-flex;
        justify-content: space-between;
}
    .container-fluid {
        text-decoration: none;


    }

        .navbar-logo {
            background-color: var(--color-border);
            color: black;
            font-weight: bold;
            padding: 10px 20px;
            border-radius: 50%;
            font-size: 2.2rem;
            box-shadow: 0.5px 0.5px 15px grey;

        }
        .navbar-nav a {
            text-decoration: none;
            color: white;
            border-radius: 23px;
            font-weight: bold;
            font-size: large;
            box-shadow: 5px 4px 4px grey;
        }

        .navbar-nav ul {
            background-color: var(--color-border);
            color: var(--color-bg);


        }

        .navbar-nav li {
            text-decoration: none;
            color: white;
            font-weight: bold;
        }

        .dropdown-toggle {
            width: 100%;
            color: black;
            text-decoration: none;
            background-color: #ffcc00;
            box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2), 0px 0px 15px rgba(0, 0, 0, 0.15);

            border-radius: 9px;
            font-weight: bold;
            font-size: xx-large;
            padding: 8px 12px;
            display: block;
            transition: background-color 0.3s ease;
        }

        .dropdown-toggle:hover {
            color: var(--color-bg);
        }

        .dropdown-toggle:active {
            color: white;
            background-color: var(--primary-color);
            animation: pulse 0.2s ease;
            transform: scale(0.95);
        }

            .dropdown-menu {
                width: 30vh;
                justify-content: flex-start;
                list-style: none;
                padding: 0;
                margin: 0;
                gap: 20px;
            }

            .dropdown-menu li a {
                text-decoration: none;
                width: 24vh;
                background-color: #ffcc00;
                color: black;
                margin-left: 3%;

                box-shadow: none;
            }

            .dropdown-menu li a:hover {
                color: white;
                background-color: #ffcc00;
            }

            .dropdown-menu li a:active {
                color: black;
            }

            .navbar-toggler-icon {
                display: inline-block;
                width: 3.5em;
                height: 3.5em;
                vertical-align: middle;
                background-repeat: no-repeat;
                background-position: center;
                background-size: 100%;
            }

            @media (max-width: 990px) {
                .navbar {
                    position: absolute;
                }
                .navbar-toggler-icon {
                    background-color: #ffcc00;
                    border-radius: 3px;
                    width: 3.5em;
                    height: 3.5em;
                }
                .navbar-toggler-icon:active {
                    animation: pulse 0.2s ease;
                    transform: scale(0.95);
                }

                .navbar-links {
                    position: absolute;
                    top: 100%;
                    left: 0;
                    width: 100%;
                    background-color: white;
                    display: none;
                    flex-direction: rows;
                    padding: 20px;
                    z-index: 1001;
                }

                .navbar-links.open {
                    display: flex;
                    color: white;
                }

                .burger {
                    display: block;
                    color: white;
                    animation: pulse 0.2s ease;
                }


            }
/* ---------------------------------------------NAVBAR -------------------------------------------------------*/

.hero {
  background: url('../images/ben-arthur-Q9Ylf-AAD04-unsplash.jpg') no-repeat center center fixed;
  background-size: cover;
  position: relative;
  height: 100svh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  overflow: hidden;
  z-index: 0;
  gap: 5rem;
}

    .hero-overlay {
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;

      background: rgba(0, 0, 0, 0.4);
      backdrop-filter: blur(4px);
      z-index: 16;
      pointer-events: auto;
      box-sizing: border-box;
      width: 100%;
      overflow: hidden;

    }

    .hero-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        align-self: center;
        color: #fff;
        height: 70%;
        width: 70%;
        animation: fadeInUp 4s ease-out forwards;
        z-index: 98;

    }

        .hero-content h1 {
          font-size: var(--font-size-xxl);
          letter-spacing: 1px;
          text-shadow: 0 2px 10px rgba(0,0,0,0.5);

        }

        .hero-content p {
          font-size: var(--font-size-lg);
          opacity: 0.9;
        }

        .hero-button {
          margin-top: 30px;
          padding: 12px 30px;
          background-color: #ffcc00;
          font-weight: bold;
          border: none;
          border-radius: 8px;
          z-index: 101;

          text-decoration: none;
          transition: all 0.2s ease; /* <--- добавляем плавность */
          box-shadow: 0.5px 0.5px 15px grey;
        }

        .hero-button:active {
          color: white;
          background-color: var(--primary-color);
          animation: pulse 0.3s ease;
          transform: scale(0.95); /* <--- кнопка немного сжимается */
        }

        a.hero-button {
            color: black;
        }

        a.hero-button:hover {
            color:white;
        }

            @keyframes pulse {
                0% {
                box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.5);
              }
              70% {
                box-shadow: 0 0 0 15px rgba(255, 204, 0, 0);
              }
              100% {
                box-shadow: 0 0 0 0 rgba(255, 204, 0, 0);
              }
            }

        /* Простая анимация */
        @keyframes fadeInUp {
          0% {
            opacity: 1;
            transform: translateY(30px);

          }
          100% {
            opacity: 1;
            transform: translateY(0);
          }
        }
        .overlay-image {
            position: absolute;
            width: 40%;
            transform: translateY(0%); /* Только по оси Y! */
            z-index: 97;
            animation: fadeInLeft 4s ease-out forwards;
        }

        @keyframes fadeInLeft {
          0% {
            opacity: 1;
            transform: translateX(-170px);
          }
          100% {
            opacity: 1;
            transform: translateX(0);
          }
        }

        .animate-fade-in-left {
          animation: fadeInLeft 2s ease-out forwards;
        }

        .wave {
          width: 100%;
          transform: translateY(0%); /* Только по оси Y! */
          pointer-events: none;
          z-index: 100;
        }

/*------------------------------------INFO--------------------------------------------------*/

/* === Reusable Section === */
.container-info {
    background-color: #ffcc00;
    z-index: 200;
    gap: 5rem;
}

    .container-info-block {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: auto;
    }

        .container-info-block-row {
            display: flex;
            flex-wrap: wrap;
            height: 100%;
            gap: 2%;
        }

            .container-info-block-row img {
                max-width: 30%;
                height: 30%;
                background-color: red;
            }

            .container-info-block-row p {
                flex: 1 1 60%;
                max-width: 60%;

                font-family: 'Playfair Display', serif;
                color: black;

            }
        @media (max-width: 768px) {
            .container-info-block-row {
                flex-direction: column;
                align-items: center;
            }

            .container-info-block-row img {
                max-width: 80%;
                margin: 0 auto;
            }

            .container-info-block-row p {
                max-width: 90%;
                text-align: center;
            }
        }


        .container-info-block_text {
            margin-left: 1%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
        }

            .container-info-block_text_row {
                display: flex;
                justify-content: space-between;

            }
                .container-info-block_text_row img {
                    width: 20%;


                }

                .container-info-block_text_row ul {
                    margin-left: 10%;
                    width: 90%;
                    align-self: flex-start;


                }

            .container-info-block_text h3 {
                align-self: flex-start;

            }
            .container-info-block_text p {
                width: 100%;
                font-family: 'Playfair Display', serif;
                color: #34495e;

            }

                .container-info-block_text li {
                    text-align: left;
                }


            .container-info-block_text img {
                width: 20%;
                align-self: flex-end;
            }
/*--------------------------------------------------CARD------------------------------------------------*/
.section {
  display: flex;
  flex: 1 0 auto;     /* Без запятых */
  flex-direction: column;
  align-items: center;
  justify-content: center
}
.section h2{
    color: white;
}

    .container {
        display: flex;
        flex: 1 0 auto;
        flex-wrap: wrap;
        max-width: 1000px;
        justify-content: center;
        gap: 3rem;

    }

    .card {
        display: flex;
        background: transparent;
        position: relative;
        flex: 1 1 300px; /* будет стараться быть 300px, но сжиматься */
        max-width: 100%; /* не выходить за родителя */
        aspect-ratio: 3 / 4; /* сохраняет пропорции */
        min-width: 210px;
        border-radius: 25px;
        overflow: hidden;
        perspective: 1000px;
    }

        .card-inner {
          background-color: #ffcc00;
          width: 100%;
          height: 100%;
          transition: transform 0.8s;
          transform-style: preserve-3d;
          position: relative;
          border-radius: 25px;
        }
            .card:hover .card-inner {
              transform: rotateY(180deg);
            }

            .card-front, .card-back {
                width: 100%;
                height: 100%;
                position: absolute;
                backface-visibility: hidden;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                background-color: #ffcc00;
                z-index: 2;
                border-radius: 25px;


            }
                .card-front img {
                    width: 50%;
                    height: 40%;
                }

            .card-back {
                display: flex;
                background-color: var(--primary-color);
                color: black;
                transform: rotateY(180deg);
                backface-visibility: hidden;
            }
                .subcategory-list {
                    height: 70%;
                    width: 98%;
                }


                .card-back a, li {
                  text-decoration: none;
                  text-align: left;
                  color: black;
                  font-size: larger;
                  transition: color 0.3s ease, transform 0.3s ease;

                }

                .card-back :hover {
                  color: white;
                }

/*-------------------------------------------------------FORM-----------------------------------------------------*/
/* === Form === */
.form-wrapper {
  width: 55%;
  text-align: center;
  padding: 40px;
  background: #ffcc00;
  border-radius: 16px;
  transition: transform 0.3s ease;
  box-shadow: 10px 10px 20px grey;
}

.form-wrapper:hover {
  transform: scale(1.05);
}

    .form-wrapper h2, label {
      color: black;
      text-align: center;
      margin-bottom: 20px;
    }

    .overlay {
        display: flex;
        justify-content: center;
    }

    .input,
    select,
    .submit-btn {
      text-align: center;
      width: 100%;
      padding: 12px;
      margin: 10px 0;
      border: 1px solid #ccc;
      border-radius: 8px;
      font-size: 26px;
      transition: border-color 0.3s ease, background-color 0.3s ease;
    }

    .input:focus,
      select:focus {
      border-color: black;
      outline: none;
    }

    .input:hover,
      select:hover {
      border-color: black;
      background-color: #f0fbff;
    }

    .submit-btn {
      background-color: var(--primary-color);
      color: white;
      font-weight: bold;
      border: none;
      cursor: pointer;
    }

    .submit-btn:hover {
      background-color: var(--color-bg);
    }

    .message {
      margin-top: 15px;
      text-align: center;
      font-size: 26px;
      color: black;
    }

    .form-step {
      display: none;
      animation: fadeIn 0.5s ease;
    }

    .form-step.active {
      display: block;
    }

/*------------------------------------------------------subcategory_detail---------------------------------------*/
.highlight-block {

    background-color: #ffcc00;
}

    .highlight-container {
      min-height: 400px;
      padding: 30px 80px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 12px;
      overflow: hidden;
    }

        .highlight-image {
            width: 50%;
            height: 50%;
            object-fit: cover;
            z-index: 15;
        }

        .highlight-text {
            display: flex;
            flex: 1 1 400px;
            flex-direction: column;
            justify-content: center;
            padding: 20px;
            text-align: center;
        }

            .highlight-text h2 {
              font-size: 2rem;
              margin-bottom: 20px;
            }

            .highlight-text p {
              font-size: 1.1rem;
              margin-bottom: 20px;
              line-height: 1.6;
            }

            .cta-btn {
                width: 70%;
                background-color: var(--primary-color);
                color: black;
                padding: 12px 24px;
                border-radius: 10px;
                font-weight: bold;
                text-decoration: none;
                text-align: center;
                transition: background-color 0.3s ease;
                align-self: center;
            }



h1, h2, h3 {
  font-weight: 600; /* полужирный */
}

