:root {
    --primary-color: #00aaff;
    --primary-hover: #0077aa;
    --bg-dark: #1e1e1e;
    --bg-light: #f7f7f7;
    --text-light: #f1f1f1;
    --card-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

* {
    box-sizing: border-box;
    /*outline: 1px solid red;*/
}

html, body{
    font-family: 'Segoe UI', sans-serif;
    overflow-x: hidden;

}
body {

    height: 100%;
    margin: 0;
    pointer-events: auto;
    background: url('../images/andrew-kliatskyi-ZV79vhL6ppk-unsplash.jpg') no-repeat center center fixed;
    background-size: cover;
    inset: 0;
}

@media(max-width: 990px) {
    body {
        height: 100%;
        margin: 0;
        pointer-events: auto;
        background: url('../images/andrew-kliatskyi-ZV79vhL6ppk-unsplash.jpg') no-repeat center center fixed;
        background-size: cover;
        inset: 0;
    }
}

.main {
    display: flex;
    flex: 1;
    flex-direction: column;
    background-color: url(0, 0, 0, 0.4);
    backdrop-filter: blur(4px);
}

.overlay-image {
  margin-bottom: -20%;
  width: 40%;
  transform: translateY(0%); /* Только по оси Y! */
  z-index: 97;
  animation: fadeInLeft 4s ease-out forwards;
}

@keyframes fadeInLeft {
  0% {
    opacity: 1;
    transform: translateX(-170px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.animate-fade-in-left {
  animation: fadeInLeft 2s ease-out forwards;
}



/* === Navbar === */
.navbar {
  display: flex;
  justify-content: space-between;
  background: #1e1e1e;
  color: white;
  position: sticky; /* Используем sticky вместо fixed */
  top: 0; /* Закрепляем в верхней части экрана */
  left: 0;
  width: 100%; /* Занимаем всю ширину экрана */
  z-index: 1000; /* Высокий приоритет для верхнего слоя */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); /* Добавляем тень */
}

.navbar-logo .logo-circle {
    background: #ffcc00;
    color: black;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 50%;
    font-size: 1.2rem;

}

.navbar-nav {
    width: 30%;
    text-align: center;
    display: flex;
    justify-content: space-between;
}

.navbar-nav a {
    text-decoration: none;
    color: white;
    border-radius: 1px;
    font-weight: bold;
}

    .navbar-nav ul {
        width: 200%;
        background-color: #ffcc00;

    }

        .navbar-nav li {
            text-decoration: none;
            color: white;
            font-weight: bold;
        }

.container-fluid {
    width: 90%;
    display: flex;
    justify-content: space-between;
}


    .container-fluid a {
        color: white;
        font-weight: bold;
    }

    .container-fluid a:active {
        background-color: var(--primary-color);
        transform: translateY(3px);

    }

.navbar-links ul {

    list-style: none;
    gap: 25px;
    padding: 0;
    margin: 0;

}

.navbar-links a,
.dropdown-toggle {
    width: 100%;
    color: black;
    text-decoration: none;
    background-color: #ffcc00;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2), 0px 0px 15px rgba(0, 0, 0, 0.15);

    border-radius: 9px;
    font-weight: bold;
    padding: 8px 12px;
    display: block;
    transition: background-color 0.3s ease;
}

.dropdown-toggle:hover {
    color: black;
}
.dropdown-toggle:active {
    color: white;
    background-color: var(--primary-color);
    animation: pulse 0.2s ease;
    transform: scale(0.95);
}


/* === Dropdown контейнер === */
.dropdown {
    position: relative; /* Делаем его относительно для абсолютного позиционирования меню */
}

.dropdown-menu {
  width: 30vh;
  display: flex;
  justify-content: flex-start;
  list-style: none;
  background-color: red;
  padding: 0;
  margin: 0;
  gap: 20px;
}


.dropdown-menu li a {
    text-decoration: none;
    width: 24vh;
    background-color: #ffcc00;
    color: black;
    margin-left: 3%;
    }

.dropdown-menu li a:hover {
    color: white;
    background-color: #ffcc00;
    }

.dropdown-menu li a:active {
    color: black;
    }

/* === Стиль для мобильных устройств === */
/* === Mobile navbar styles === */
@media (max-width: 990px) {
    .navbar {
        position: absolute;
        height: 15%;
    }
    .navbar-toggler-icon {
        background-color: #ffcc00;
        border-radius: 3px;
        height: 15%;
    }
    .navbar-toggler-icon:active {
        animation: pulse 0.2s ease;
        transform: scale(0.95);
    }

    .navbar-links {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: white;
        display: none;
        flex-direction: rows;
        padding: 20px;
        z-index: 1001;
    }

    .navbar-links.open {
        display: flex;
        color: white;
    }

    .burger {
        display: block;
        color: white;
        animation: pulse 0.2s ease;
    }

    .hero {
        position: relative;
        height: 69vh;
        z-index: 0; /* ниже чем .navbar-links */
    }
}







.navbar-contact {
    display: flex;
    align-items: center;

}

.phone-icon {
    font-size: 1.4rem;
    text-decoration: none;
    margin-right: 15px;
    transform: translateY(2px);
    color: black;
}

.phone-icon:hover {
    transition: transform 0.3s ease;
}

.burger {
    display: none;
    background-color: white;
    color: white;
    font-size: 1.6rem;
    border: none;
    cursor: pointer;
    position: absolute;
}

/* === Mobile === */
@media (max-width: 768px) {
    .navbar-links {
        text-decoration: none;
        position: absolute;
        display: none; /* Скрыто по умолчанию на мобильных устройствах */
        flex-direction: column;
        background-color: #ffcc00;
        width: 100%;
        padding: 20px;
        position: absolute;
        top: 100%;
        left: 0;
        z-index: 1000;
    }

    .navbar-links.open {
        display: flex; /* Показывается, когда добавлен класс .open */
    }

    .navbar-links ul {
        flex-direction: column;
        gap: 15px;
    }

    .dropdown-menu {
        position: static;

        padding-left: 0;
    }

    .dropdown-menu li a {
        margin-left: 2%;
        background-color: #ffcc00;

    }
    .navbar ul {
        text-align: left;
    }

    .navbar-nav {
        width: 50%;
        text-align: left;

    }

    .dropdown-item {
        text-align: left;
    }
}


/* === Hero Section === */
.hero {
  background: url('../images/ben-arthur-Q9Ylf-AAD04-unsplash.jpg') no-repeat center center fixed;
  background-size: cover;
  position: relative;
  height: 69%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  overflow: hidden;
  z-index: 0;
}


.hero-overlay {
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;

  background: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(4px);
  z-index: 16;
  pointer-events: auto;
  box-sizing: border-box;
  width: 100%;
  overflow: hidden;

}

.hero-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  align-self: center;
  color: #fff;
  height: 70%;
  width: 70%;
  animation: fadeInUp 2s ease-out forwards;
  z-index: 98;

}

.hero-content h1 {
  font-size: 3rem;
  letter-spacing: 1px;
  text-shadow: 0 2px 10px rgba(0,0,0,0.5);
}

.hero-content p {

  font-weight: bold;
  font-size: 1.2rem;

  opacity: 0.9;
}

.hero-button {
  margin-top: 30px;
  padding: 12px 30px;
  background-color: #ffcc00;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  z-index: 101;

  text-decoration: none;
  transition: all 0.2s ease; /* <--- добавляем плавность */
}


.hero-button:active {
  color: white;
  background-color: var(--primary-color);
  animation: pulse 0.3s ease;
  transform: scale(0.95); /* <--- кнопка немного сжимается */
}


a.hero-button {
    color: black;
}

a.hero-button:hover {
    color:white;
}

@keyframes pulse {
    0% {
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.5);
  }
  70% {
    box-shadow: 0 0 0 15px rgba(255, 204, 0, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(255, 204, 0, 0);
  }
}




.wave {

  width: 100%;
  transform: translateY(0%); /* Только по оси Y! */
  pointer-events: none;
  z-index: 100;

}

@media (width: 768px) {

    }
    .hero-content {
        width: 60%;
        margin-bottom: 60%;
    }
}



/* Простая анимация */
@keyframes fadeInUp {
  0% {

    transform: translateY(30px);
  }
  100% {

    transform: translateY(0);
  }
}


.background-branches {
  opacity: 0.3;
  position: absolute;
  top: 0; left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.3;
  pointer-events: none;
}

.money {
    height: 100%;

}

.leaf {
  position: absolute;
  top: -50%;
  font-size: 12rem;
  opacity: 0.8;
  animation: fall linear infinite;
  pointer-events: none;
}

.leaf1 { left: 10%; animation-duration: 27s; animation-delay: 0s; }
.leaf2 { left: 50%; animation-duration: 65s; animation-delay: 1s; }
.leaf3 { left: 80%; animation-duration: 33s; animation-delay: 0.1s; }

@keyframes fall {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
  }
  100% {
    transform: translateY(120vh) rotate(360deg);
    opacity: 0;
  }
}








/* === Reusable Section === */
.container-info {
    margin-top: -2%;
    padding-top: 1%;
    background-color: #ffcc00;
    z-index: 200;


}

    .container-info-block {
        margin-top: 1%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: auto;
    }


        .container-info-block-row {
            display: flex;
            flex-wrap: wrap;
            height: 100%;
            gap: 2%;
            margin: 1vh 0 1% 1%;

        }

            .container-info-block-row img {
                max-width: 30%;
                height: 30%;
                background-color: red;
            }

            .container-info-block-row p {
                flex: 1 1 60%;
                max-width: 60%;

                font-family: 'Playfair Display', serif;
                color: black;

            }
        @media (max-width: 768px) {
            .container-info-block-row {
                flex-direction: column;
                align-items: center;
            }

            .container-info-block-row img {
                max-width: 80%;
                margin: 0 auto;
            }

            .container-info-block-row p {
                max-width: 90%;
                text-align: center;
            }
        }


        .container-info-block_text {
            margin-left: 1%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
        }

            .container-info-block_text_row {
                display: flex;
                justify-content: space-between;

            }
                .container-info-block_text_row img {
                    width: 20%;


                }

                .container-info-block_text_row ul {
                    margin-left: 10%;
                    width: 90%;
                    align-self: flex-start;


                }

            .container-info-block_text h3 {
                align-self: flex-start;

            }
            .container-info-block_text p {
                width: 100%;
                font-family: 'Playfair Display', serif;
                color: #34495e;

            }

                .container-info-block_text li {
                    text-align: left;
                }


            .container-info-block_text img {
                width: 20%;
                align-self: flex-end;
            }



.section {
  position: relative;
  padding: 60px 20px;
  margin: 80px 0;
  text-align: center;
}

.section h2 {
    color: white;
}



/* === Card Flip Section === */
.card {
  background-color: #ffcc00;
  position: relative;
  width: 40%;
  height: 320px;
  margin: 20px;
  perspective: 1000px;

}

@media (max-width: 768px) {
    .card {
        width: 70%;
        height: 290px;
    }
}

.about {
    display: flex;
    flex-direction: column;
    align-items: center
    justify-content: space-around;
    gap: 30px;

}

.container {
    /*background: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(4px);*/
    border-radius: 12px;
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    align-items: center;
    justify-content: center;

}

.card-inner {
  background-color: #ffcc00;
  width: 100%;
  height: 100%;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  position: relative;
}

.card:hover .card-inner {
  transform: rotateY(180deg);
}


.card-front, .card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 20px;
  backface-visibility: hidden;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card-front img {
  width: 60px;
  height: 60px;
  margin-bottom: 15px;


}

.card-back {
  transform: rotateY(180deg);
  background-color: var(--primary-color);
  color: black;
}

.card-back a, li {
  text-decoration: none;
  text-align: left;
  color: black;
  transition: color 0.3s ease, transform 0.3s ease;

}

.card-back :hover {
  color: white;
}

/* === Highlight Block === */
.highlight-block {
  padding: 60px 20px;
  background-color: #ffcc00;

}

.highlight-container {
  background-color: #ffcc00;
  min-height: 400px;
  padding: 30px 80px;
  display: flex;
  flex-wrap: wrap;
  gap: 80px;
  align-items: stretch;
  border-radius: 12px;
  overflow: hidden;

}

.highlight-image {
  flex: 1 1 400px;
  height: 100%;
  border-radius: 12px;


}

.highlight-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 15;
}

.highlight-text {
  flex: 1 1 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
}

.highlight-text h2 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.highlight-text p {
  font-size: 1.1rem;
  margin-bottom: 20px;
  line-height: 1.6;
}

.cta-btn {
  background-color: var(--primary-color);
  color: black;
  padding: 12px 24px;
  border-radius: 10px;
  font-weight: bold;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.cta-btn:hover {
  color: white;
  background-color: var(--primary-hover);
}

/* === Form === */
.form-wrapper {
  width: 55%;
  text-align: center;
  padding: 40px;
  background: #ffcc00;
  border-radius: 16px;

  transition: transform 0.3s ease;
}

.form-wrapper:hover {
  transform: scale(1.05);
}

@media (max-width: 768px) {
    .form-wrapper {
        width: 45%;
        text-align: center;
        padding: 40px;
        background: #ffcc00;
        border-radius: 16px;
        margin-top: -15%;
        transition: transform 0.3s ease;
    }

    .form-wrapper:hover {
      transform: scale(1.05);
    }
}

.form-wrapper h2, label {
  color: black;
  text-align: center;
  margin-bottom: 20px;
}

.overlay {
    display: flex;
    justify-content: center;
}


.input,
select,
.submit-btn {
  text-align: center;
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 16px;
  transition: border-color 0.3s ease, background-color 0.3s ease;
}

.input:focus,
  select:focus {
  border-color: black;
  outline: none;
}

.input:hover,
  select:hover {
  border-color: black;
  background-color: #f0fbff;
}

.submit-btn {
  background-color: var(--primary-color);
  color: white;
  font-weight: bold;
  border: none;
  cursor: pointer;
}

.submit-btn:hover {
  background-color: var(--primary-hover);
}

.message {
  margin-top: 15px;
  text-align: center;
  font-size: 16px;
  color: black;
}

.form-step {
  display: none;
  animation: fadeIn 0.5s ease;
}

.form-step.active {
  display: block;
}

/* === Footer === */
.footer {
  background: var(--bg-dark);
  color: var(--text-light);
  padding: 40px 20px;
  text-align: center;
  font-size: 16px;
}

.footer a {
  color: var(--text-light);
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer a:hover {
  color: #00c9a7;
}

.footer p {
  margin: 0;
  line-height: 1.6;
}

/* === Animations === */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}




