{% load static %}
<section class="hero">

  <div class="hero-overlay" id="#"></div>

  {% if request.resolver_match.url_name == 'home' %}
    {% include 'hero/hero-base.html' %}
  {% elif request.resolver_match.url_name == 'lead_create' %}
    {% include 'hero/hero-details.html' %}
  {% endif %}


</section>
  <!-- SVG-perekhod -->
  <svg class="transition-wave" viewBox="0 0 1440 60" xmlns="http://www.w3.org/2000/svg">
    <path fill="#ffcc00" d="M0,0 C480,60 960,0 1440,60 L1440,60 L0,60 Z"></path>
  </svg>